.container {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    height: 350px;
    padding: 0;
    position: relative;
    width: 350px;
}

.text-meme {
    color: white;
    font-size: 30px;
    left: 15px;
    position: absolute;
    text-shadow: #000 5px 5px 5px;
    top: 15px;
}

.imagem-meme {
    height: 350px;
    margin: 0;
    width: 350px;
}

button {
    color: white;
    font-weight: 700;
    margin-right: 30px;
    padding: 5px 30px;

}

.fire {
    background-color: red;
}

.water {
    background-color: blue;
}

.earth {
    background-color: green;
}

.buttons {
    margin-top: 20px;
}

.imgs-memes{
    margin-top: 20px;
}

.imagens-memes-protos {
    margin-right: 15px;
    height: 100px;
    width: 100px;
}
