.container {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    height: 350px;
    padding: 0;
    position: relative;
    width: 350px;
}

.text-meme {
    color: white;
    font-size: 30px;
    left: 15px;
    position: absolute;
    text-shadow: #000 5px 5px 5px;
    top: 15px;
}

.imagem-meme {
    height: 350px;
    margin: 0;
    width: 350px;
}